*{
    margin: 0;
    padding: 0;
}
.app{
    background: #000;
    color:red;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    height: 500px;
}
.btn{
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 50px;
}
.value{
    font-size: 50px;
}